{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/parallax.min.js"></script>
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="/static/css/index.css" />
<link type="text/css" rel="stylesheet" href="/static/css/image-overlay.css" />
{% endblock %}

{% block content %}

<div class="row">
  <div class="col hero-section justify-content-center align-items-middle">
    <div class="hero-section" style="background: none;">
      <div class="parallax-window" data-parallax="scroll" data-image-src="/static/img/Background.JPEG" style="height: 100%;"
        data-z-index="-1">
      </div>
      <div class="text-overlay typewriter">
        <h1>Hi! Welcome to my Website.</h1>
      </div>
    </div>
  </div>
</div>
<div class="mask-bg">
  <div class="row hero-under-banner">
    <div class="col">
      <div class="container" style="max-width: 800px;">
        <div class="row align-items-center mobile-pad" style="min-height: 40px;">
          <div class="col-sm-4 text-pad">
            Sabrinna Yeh
          </div>
          <div class="col-sm-4 text-pad">
            Sabgamer20@gmail.com
          </div>
          <div class="col-sm-4 text-pad">
            Los Angeles, CA
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-content-container" style="margin-top: 40px;">
    <div class="row">
      <div class="col blurb-section">
        <p>I'm a student passionate about bridging the gap between computer science and digital media.</p>
        <p>Intrigued by coding, cinematography, photography, swimming, and always learning more.</p>
        <p>Check out what I've done.</p>
      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 30px;">
    <div class="row">
      <div class="col section-header">
        Extracurricular Activities
      </div>
    </div>
    
    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              School Varsity Cyberpatriot team | National CyberPatriot Platinum tier
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Aug 2019 - Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Secure and debug Linux system vulnerabilities to earn points which contribute to my team’s overall score</p>
              <p>Examples of scored security issues</p>
              <ul>
                <li class="main-li">Finding and remove backdoors</li>
                <li class="main-li">Enable Firewall Protection</li>
                <li class="main-li">Locating and deleting prohibited software</li>
              </ul>
              <p>Accomplishment</p>
              <ul>
                <li class="main-li">Placed in the top 10% in the nation</li>
                <li class="main-li">School Varsity Letterman</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Swimmer | School Swim Team
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              March 2020 - present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Training every weekday after school for 2 hours with Coach Kyle</p>
              <p>Accomplishments</p>
              <ul>
                <li class="main-li">Placed first in 400 free relay and 200 medley relay at league finals</li>
                <li class="sub-li">Backstroke leg in relay</li>
                <li class="main-li">Placed 3rd in 50 individual backstroke at league finals</li>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Projects
      </div>
    </div>
    
    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Creating a STEM children book
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              May 2021 - Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Working with a team of 6 people to create a children book</p>
              <p>Here are some action steps I took</p>
              <ul>
                <li class="main-li">Working as the main artist</li>
                <li class="sub-li">Design and sketch the characters</li>
                <li class="sub-li">Build a story with drawings</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Creating a sticker business to fund local charities
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              June 2021 - Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Working with two other people to design stickers that reflect our culture</p>
              <p>What I worked on</p>
              <ul>
                <li class="main-li">Created the sticker sheets and individual stickers</li>
                <li class="main-li">Calculated the cost of materials and sales cost</li>
                <li class="main-li">Planned the marketing promotion on social media for the near future</li>
              </ul>
            </div>
          </div>
        </div>
        
        <!-- Project 3 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Working on a short film to submit to contest 
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Sept 2020 - Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Plan out a film addressing how the current pandemic impacted self-development</p>
              <p>Here are some action steps I took</p>
              <ul>
                <li class="main-li">I planned this out</li>
                <li class="sub-li">Created a script with my partner using Celtx</li>
                <li class="sub-li">Planned the outfits and set locations</li>
                <li class="main-li">I executed this</li>
                <li class="sub-li">Designed the filming locations to fit the story</li>
                <li class="sub-li">Filmed the scenes with extra help from friends</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Awards / Honors / Certifications
      </div>
    </div>
    
    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">

          <div class="row">
            <div class="col section-content-header">
              Third Place in a National Art Contest
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              Sep 2020 - "Creativity against COVID-19" Young Creative Artists Contest
            </div>
          </div>
          
          <div class="row">
            <div class="col section-content-header">
              Collegeboard AP Scholar Award 2021
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              AP Computer Science Principles, AP Computer Science, AP Lang
            </div>
          </div>

          <div class="row">
            <div class="col section-content-header">
              Student of the Month at School
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              Math (Mr.Kim) and Computer Science (Mr. Allen)
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 100px;">
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/camera.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Interests</h3>
            <p class="content-text">Explore Sabrinna's interests ranging from photography to gardening.</p>
          </div>
        </div>
      </div>
      <div class="interest-img-holder">
        <img src="/static/img/camera.jpg">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/travel.JPG">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">About Me</h3>
            <p class="content-text">Get to know me.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/water.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Hobbies</h3>
            <p class="content-text">Discover fun stuff Sabrinna does during her free time.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}

{% block footer %}
<div class="footer-container">
  <div class="container page-content-container">
    <div class="row">
      <div class="col-sm-6 contact-me-text">
        Contact Me
      </div>
      <div class="col-sm-6 contact-icons">
        <div>
          <img src="/static/img/contact-icons/gmail.png">
          <span class="contact-info">Sabgamer20@gmail.com</span>
        </div>
        <div>
          <a href="https://www.linkedin.com/">
            <img src="/static/img/contact-icons/linkedin.png">
            <span class="contact-info">linkedin.com/sabrinnayeh</span>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/">
            <img src="/static/img/contact-icons/insta.jpg">
            <span class="contact-info">@Sabrinnayeh</span>
          </a>
        </div>
        <div>
          <a href="https://github.com/">
            <img src="/static/img/contact-icons/github.png">
            <span class="contact-info">github.com/Sabby20</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}